In [16]:
# Dependencies
import sys 
import os
import psycopg2
# ----------------------------------
# Run my other notebook so I can use my datafames/my variables
%run mls_data.ipynb 
%run mls_salary_data.ipynb
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
import datetime
# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Time, ForeignKey, Numeric
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
import numpy
from psycopg2.extensions import register_adapter, AsIs

In [17]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/mls_db')
# Establish Connection
conn = engine.connect()

In [18]:
# clear out the db
Base.metadata.drop_all(engine)

In [19]:
# Define tables: 
# For all possible integers that might be used for calculations in sequel, I'd suggest making them into floats
# SQL will have issues creating decimal values without the use of extra functions
# Table names, columns, and schemas should all be lowercase to prevent the required usage of " " around column names, table, schemas will cause overall issues
# All foreign keys must be addressed in primary key table and named accordingly with other tables

# Club	Conference	Ranking	Matches Played	Wins	Draws	Losses	Total Points
class League(Base):
    __tablename__ = 'league'
    id = Column(Integer, primary_key=True, index=True, nullable= False)
    club = Column(String(30), nullable= False)
    conference = Column(String(30), nullable= False)
    ranking = Column(Integer, nullable= False)
    matches_played = Column(Float, nullable= False)
    wins = Column(Float, nullable= False)
    draws = Column(Integer, nullable= False)
    losses = Column(Float, nullable= False)
    total_points = Column(Float, nullable= False)
    def __repr__(self): 
        return "League(id ={self.id},"\
    "club = '{self.club}',"\
    "conference = '{self.conference}',"\
    "ranking = {self.ranking},"\
    "matches_played = {self.matches_played},"\
    "wins = {self.wins},"\
    "draws = {self.draws},"\
    "losses = {self.losses},"\
    "total_points = {self.total_points})".format(self=self)
    
# Goals For	Goals Against	Goal Differential	Total Points
class Goals(Base):
    __tablename__ = 'goals'
    id = Column(Integer, primary_key=True, index=True, nullable= False)
    goals_for = Column(Float, nullable= False)
    goals_against = Column(Float, nullable= False)
    goal_differential = Column(Float, nullable= False)
    def __repr__(self): 
        return "Goals(id ={self.id},"\
    "goals_for = {self.goals_for},"\
    "goals_against = {self.goals_against},"\
    "goal_differential = {self.goal_differential})".format(self=self)
    
# Expected Goals	Expected Goals Allowed	Expected Goals Differiential	Expected Goals Differiential/ 90 (mins)  
class Expected(Base):
    __tablename__ = 'expected'
    id = Column(Integer, primary_key=True, index=True, nullable= False)
    expected_goals = Column(Float, nullable= False)
    expected_allowed = Column(Float, nullable= False)
    expected_goals_differiential = Column(Float, nullable= False)
    expected_goals_differiential_mins = Column(Float, nullable= False)
    def __repr__(self):
        return "Expected(id ={self.id},"\
    "expected_goals = {self.expected_goals},"\
    "expected_allowed = {self.expected_allowed},"\
    "expected_goals_differiential = {self.expected_goals_differiential},"\
    "expected_goals_differiential_mins = {self.expected_goals_differiential_mins})".format(self=self)
    
# Spectators	Top Team Scorer	Goalkeeper
class Mvp(Base):
    __tablename__ = 'mvp'
    id = Column(Integer, primary_key=True, index=True, nullable= False)
    spectators = Column(Float, nullable= False)
    top_team_scorer = Column(String(50), nullable= False)
    goalkeeper = Column(String(50), nullable= False)
    def __repr__(self):
        return "Mvp(id ={self.id},"\
    "spectators = {self.spectators},"\
    "top_team_Scorer = '{self.top_team_scorer}',"\
    "goalkeeper = '{self.goalkeeper}')".format(self=self)   
    
# Create teams and salary classes for tables in sql
class Teams(Base):
    __tablename__ = 'team_names'
    id = Column(Integer, primary_key=True, index=True, nullable= False)
    club_id = Column(Integer, primary_key=True, index=True, nullable= False)
    club = Column(String(30), nullable= False)
    def __repr__(self):
        return "Teams(id ={self.id},"\
    "club_id = '{self.club_id}',"\
    "club = '{self.club}')".format(self=self) 
    
class Salary(Base):
    __tablename__ = 'salaries'
    id = Column(Integer, primary_key=True, nullable= False)
    club_id = Column(Integer, primary_key=True, index=True, nullable= False)
    first = Column(String(30))
    last = Column(String(30))
    club = Column(String(30), nullable= False)
    position = Column(String(30))
    base_salary = Column(Float, nullable= False)
    guaranteed_compensation = Column(Float, nullable= False)
    def __repr__(self):
        return "Salary(id ={self.id},"\
    "club_id={self.club_id},"\
    "first = '{self.first}',"\
    "last = '{self.last}',"\
    "club = '{self.club}',"\
    "position = '{self.position}',"\
    "base_salary = {self.base_salary},"\
    "guaranteed_compensation = {self.guaranteed_compensation})".format(self=self)

In [20]:
# Create Session
# ----------------------------------
session = Session(bind=engine)

In [21]:
# Create tables within the database
Base.metadata.create_all(conn)

In [22]:
# # Create a Session Object to Connect to DB:
# The issue with function is my lack of expertise, the errors are less likely to show to fix my classes and mapping. 
# def run_my_sesions():
#     # Create Session
#     # ----------------------------------
#     session = Session(bind=engine)
#     try:
#         session.bulk_insert_mappings(League, league_df.T.to_dict(orient="records"))
#         session.bulk_insert_mappings(Goals, actual_stats_df.T.to_dict(orient="records"))
#         session.bulk_insert_mappings(Expected, expected_stats_df.T.to_dict(orient="records"))
#         session.bulk_insert_mappings(MVP, mvp_df.T.to_dict(orient="records"))
#         session.commit()
#     except:
#         session.rollback()
#         raise
#     finally:
#         session.close()
# run_my_sesions()

In [23]:
for row in league_df.iterrows():
    league = League(id= row[0], club = row[1]['club'], conference = row[1]['conference'], ranking = row[1]['ranking'],
                     matches_played = row[1]['matches_played'], wins = row[1]['wins'], draws = row[1]['draws'], losses = row[1]['losses'], total_points = row[1]['total_points'])
    session.add(league)
    print(league)

League(id =14,club = 'New York City FC',conference = 'Eastern',ranking = 1,matches_played = 34,wins = 18,draws = 10,losses = 6,total_points = 64)
League(id =1,club = 'Atlanta United',conference = 'Eastern',ranking = 2,matches_played = 34,wins = 18,draws = 4,losses = 12,total_points = 58)
League(id =17,club = 'Philadelphia Union',conference = 'Eastern',ranking = 3,matches_played = 34,wins = 16,draws = 7,losses = 11,total_points = 55)
League(id =23,club = 'Toronto FC',conference = 'Eastern',ranking = 4,matches_played = 34,wins = 13,draws = 11,losses = 10,total_points = 50)
League(id =5,club = 'DC United',conference = 'Eastern',ranking = 5,matches_played = 34,wins = 13,draws = 11,losses = 10,total_points = 50)
League(id =15,club = 'New York Red Bulls',conference = 'Eastern',ranking = 6,matches_played = 34,wins = 14,draws = 6,losses = 14,total_points = 48)
League(id =13,club = 'New England Revolution',conference = 'Eastern',ranking = 7,matches_played = 34,wins = 11,draws = 12,losses = 11,total_points = 45)
League(id =2,club = 'Chicago Fire',conference = 'Eastern',ranking = 8,matches_played = 34,wins = 10,draws = 12,losses = 12,total_points = 42)
League(id =12,club = 'Montreal Impact',conference = 'Eastern',ranking = 9,matches_played = 34,wins = 12,draws = 5,losses = 17,total_points = 41)
League(id =4,club = 'Columbus Crew',conference = 'Eastern',ranking = 10,matches_played = 34,wins = 10,draws = 8,losses = 16,total_points = 38)
League(id =16,club = 'Orlando City SC',conference = 'Eastern',ranking = 11,matches_played = 34,wins = 9,draws = 10,losses = 15,total_points = 37)
League(id =6,club = 'FC Cincinnati',conference = 'Eastern',ranking = 12,matches_played = 34,wins = 6,draws = 6,losses = 22,total_points = 24)
League(id =10,club = 'LAFC',conference = 'Western',ranking = 1,matches_played = 34,wins = 21,draws = 9,losses = 4,total_points = 72)
League(id =21,club = 'Seattle Sounders FC',conference = 'Western',ranking = 2,matches_played = 34,wins = 16,draws = 8,losses = 10,total_points = 56)
League(id =19,club = 'Real Salt Lake',conference = 'Western',ranking = 3,matches_played = 34,wins = 16,draws = 5,losses = 13,total_points = 53)
League(id =11,club = 'Minnesota United',conference = 'Western',ranking = 4,matches_played = 34,wins = 15,draws = 8,losses = 11,total_points = 53)
League(id =9,club = 'LA Galaxy',conference = 'Western',ranking = 5,matches_played = 34,wins = 16,draws = 3,losses = 15,total_points = 51)
League(id =18,club = 'Portland Timbers',conference = 'Western',ranking = 6,matches_played = 34,wins = 14,draws = 7,losses = 13,total_points = 49)
League(id =7,club = 'FC Dallas',conference = 'Western',ranking = 7,matches_played = 34,wins = 13,draws = 9,losses = 12,total_points = 48)
League(id =20,club = 'San Jose Earthquakes',conference = 'Western',ranking = 8,matches_played = 34,wins = 13,draws = 5,losses = 16,total_points = 44)
League(id =3,club = 'Colorado Rapids',conference = 'Western',ranking = 9,matches_played = 34,wins = 12,draws = 6,losses = 16,total_points = 42)
League(id =8,club = 'Houston Dynamo',conference = 'Western',ranking = 10,matches_played = 34,wins = 12,draws = 4,losses = 18,total_points = 40)
League(id =22,club = 'Sporting Kansas City',conference = 'Western',ranking = 11,matches_played = 34,wins = 10,draws = 8,losses = 16,total_points = 38)
League(id =24,club = 'Vancouver Whitecaps',conference = 'Western',ranking = 12,matches_played = 34,wins = 8,draws = 10,losses = 16,total_points = 34)

In [24]:
def adapt_numpy_int64(numpy_int64):
    """ Adapting numpy.int64 type to SQL-conform int type using psycopg extension, see [1]_ for more info.
    References
    ----------
    .. [1] http://initd.org/psycopg/docs/advanced.html#adapting-new-python-types-to-sql-syntax
    """
    return AsIs(numpy_int64)

register_adapter(numpy.int64, adapt_numpy_int64) 

#Goals For	Goals Against	Goal Differential	Total Points	Goals ID
for row in actual_stats_df.iterrows():
    goals = Goals(id= row[0], goals_for = row[1]['goals_for'], 
    goals_against = row[1]['goals_against'], goal_differential = row[1]['goal_differential']) 
    session.add(goals)
    register_adapter(numpy.int64, adapt_numpy_int64) 
    print(goals)
# ClubID = row[0],

Goals(id =14,goals_for = 63,goals_against = 42,goal_differential = 21)
Goals(id =1,goals_for = 58,goals_against = 43,goal_differential = 15)
Goals(id =17,goals_for = 58,goals_against = 50,goal_differential = 8)
Goals(id =23,goals_for = 57,goals_against = 52,goal_differential = 5)
Goals(id =5,goals_for = 42,goals_against = 38,goal_differential = 4)
Goals(id =15,goals_for = 53,goals_against = 51,goal_differential = 2)
Goals(id =13,goals_for = 50,goals_against = 57,goal_differential = -7)
Goals(id =2,goals_for = 55,goals_against = 47,goal_differential = 8)
Goals(id =12,goals_for = 47,goals_against = 60,goal_differential = -13)
Goals(id =4,goals_for = 39,goals_against = 47,goal_differential = -8)
Goals(id =16,goals_for = 44,goals_against = 52,goal_differential = -8)
Goals(id =6,goals_for = 31,goals_against = 75,goal_differential = -44)
Goals(id =10,goals_for = 85,goals_against = 37,goal_differential = 48)
Goals(id =21,goals_for = 52,goals_against = 49,goal_differential = 3)
Goals(id =19,goals_for = 46,goals_against = 41,goal_differential = 5)
Goals(id =11,goals_for = 52,goals_against = 43,goal_differential = 9)
Goals(id =9,goals_for = 58,goals_against = 59,goal_differential = -1)
Goals(id =18,goals_for = 52,goals_against = 49,goal_differential = 3)
Goals(id =7,goals_for = 54,goals_against = 46,goal_differential = 8)
Goals(id =20,goals_for = 52,goals_against = 55,goal_differential = -3)
Goals(id =3,goals_for = 58,goals_against = 63,goal_differential = -5)
Goals(id =8,goals_for = 49,goals_against = 59,goal_differential = -10)
Goals(id =22,goals_for = 49,goals_against = 67,goal_differential = -18)
Goals(id =24,goals_for = 37,goals_against = 59,goal_differential = -22)

In [25]:
# Expected Goals	Expected Goals Allowed	Expected Goals Differiential	Expected Goals Differiential/ 90 (mins)
for row in expected_stats_df.iterrows():
    expected = Expected(id= row[0], expected_goals = row[1]['expected_goals'], expected_allowed = row[1]['expected_goals_allowed'],
    expected_goals_differiential = row[1]['expected_goals_differiential'], expected_goals_differiential_mins = row[1]['expected_goals_differiential_mins']) 
    session.add(expected)
    print(expected)

Expected(id =14,expected_goals = 51.8,expected_allowed = 44.7,expected_goals_differiential = 7.1,expected_goals_differiential_mins = 0.22)
Expected(id =1,expected_goals = 56.6,expected_allowed = 42.4,expected_goals_differiential = 14.2,expected_goals_differiential_mins = 0.42)
Expected(id =17,expected_goals = 54.9,expected_allowed = 41.8,expected_goals_differiential = 13.1,expected_goals_differiential_mins = 0.39)
Expected(id =23,expected_goals = 48.0,expected_allowed = 49.3,expected_goals_differiential = -1.3,expected_goals_differiential_mins = -0.04)
Expected(id =5,expected_goals = 37.8,expected_allowed = 48.1,expected_goals_differiential = -10.3,expected_goals_differiential_mins = -0.3)
Expected(id =15,expected_goals = 49.9,expected_allowed = 49.7,expected_goals_differiential = 0.2,expected_goals_differiential_mins = 0.01)
Expected(id =13,expected_goals = 44.8,expected_allowed = 54.9,expected_goals_differiential = -10.2,expected_goals_differiential_mins = -0.3)
Expected(id =2,expected_goals = 53.0,expected_allowed = 44.7,expected_goals_differiential = 8.3,expected_goals_differiential_mins = 0.25)
Expected(id =12,expected_goals = 38.4,expected_allowed = 50.0,expected_goals_differiential = -11.6,expected_goals_differiential_mins = -0.34)
Expected(id =4,expected_goals = 37.3,expected_allowed = 41.8,expected_goals_differiential = -4.5,expected_goals_differiential_mins = -0.13)
Expected(id =16,expected_goals = 43.6,expected_allowed = 42.5,expected_goals_differiential = 1.1,expected_goals_differiential_mins = 0.03)
Expected(id =6,expected_goals = 33.1,expected_allowed = 59.3,expected_goals_differiential = -26.3,expected_goals_differiential_mins = -0.77)
Expected(id =10,expected_goals = 77.3,expected_allowed = 36.5,expected_goals_differiential = 40.8,expected_goals_differiential_mins = 1.2)
Expected(id =21,expected_goals = 48.7,expected_allowed = 46.3,expected_goals_differiential = 2.4,expected_goals_differiential_mins = 0.07)
Expected(id =19,expected_goals = 36.5,expected_allowed = 40.4,expected_goals_differiential = -3.9,expected_goals_differiential_mins = -0.11)
Expected(id =11,expected_goals = 52.7,expected_allowed = 44.6,expected_goals_differiential = 8.1,expected_goals_differiential_mins = 0.24)
Expected(id =9,expected_goals = 56.3,expected_allowed = 62.5,expected_goals_differiential = -6.2,expected_goals_differiential_mins = -0.18)
Expected(id =18,expected_goals = 52.8,expected_allowed = 56.2,expected_goals_differiential = -3.4,expected_goals_differiential_mins = -0.1)
Expected(id =7,expected_goals = 49.6,expected_allowed = 43.9,expected_goals_differiential = 5.7,expected_goals_differiential_mins = 0.17)
Expected(id =20,expected_goals = 51.9,expected_allowed = 47.1,expected_goals_differiential = 4.8,expected_goals_differiential_mins = 0.14)
Expected(id =3,expected_goals = 51.1,expected_allowed = 57.0,expected_goals_differiential = -5.9,expected_goals_differiential_mins = -0.17)
Expected(id =8,expected_goals = 47.4,expected_allowed = 50.6,expected_goals_differiential = -3.2,expected_goals_differiential_mins = -0.09)
Expected(id =22,expected_goals = 58.0,expected_allowed = 51.4,expected_goals_differiential = 6.6,expected_goals_differiential_mins = 0.19)
Expected(id =24,expected_goals = 34.4,expected_allowed = 60.3,expected_goals_differiential = -25.9,expected_goals_differiential_mins = -0.76)

In [26]:
# Spectators	Top Team Scorer	Goalkeeper
for row in mvp_df.iterrows(): 
    mvp = Mvp(id= row[0], spectators = row[1]['spectators'], top_team_scorer = row[1]['top_team_scorer'],
    goalkeeper = row[1]['goalkeeper']) 
    session.add(mvp)
    print(mvp)

Mvp(id =14,spectators = 21107,top_team_Scorer = 'Héber - 15',goalkeeper = 'Sean Johnson')
Mvp(id =1,spectators = 52510,top_team_Scorer = 'Josef Martínez - 27',goalkeeper = 'Brad Guzan')
Mvp(id =17,spectators = 17111,top_team_Scorer = 'Kacper Przybyłko - 15',goalkeeper = 'Andre Blake')
Mvp(id =23,spectators = 25048,top_team_Scorer = 'Alejandro Pozuelo - 12',goalkeeper = 'Quentin Westberg')
Mvp(id =5,spectators = 17744,top_team_Scorer = 'Wayne Rooney - 11',goalkeeper = 'Bill Hamid')
Mvp(id =15,spectators = 17751,top_team_Scorer = 'Daniel Royer - 11',goalkeeper = 'Luis Robles')
Mvp(id =13,spectators = 16737,top_team_Scorer = 'Carles Gil - 10',goalkeeper = 'Matt Turner')
Mvp(id =2,spectators = 12324,top_team_Scorer = 'C.J. Sapong - 13',goalkeeper = 'Kenneth Kronholm')
Mvp(id =12,spectators = 16171,top_team_Scorer = 'Saphir Taïder - 9',goalkeeper = 'Evan Bush')
Mvp(id =4,spectators = 14856,top_team_Scorer = 'Gyasi Zardes - 13',goalkeeper = 'Zack Steffen')
Mvp(id =16,spectators = 22761,top_team_Scorer = 'Nani - 12',goalkeeper = 'Brian Rowe')
Mvp(id =6,spectators = 27336,top_team_Scorer = 'Allan Cruz - 7',goalkeeper = 'Spencer Richey')
Mvp(id =10,spectators = 22251,top_team_Scorer = 'Carlos Vela - 34',goalkeeper = 'Tyler Miller')
Mvp(id =21,spectators = 40247,top_team_Scorer = 'Raúl Ruidíaz - 11',goalkeeper = 'Stefan Frei')
Mvp(id =19,spectators = 18121,top_team_Scorer = 'Albert Rusnák - 10',goalkeeper = 'Nick Rimando')
Mvp(id =11,spectators = 19723,top_team_Scorer = 'Darwin Quintero - 10',goalkeeper = 'Vito Mannone')
Mvp(id =9,spectators = 23205,top_team_Scorer = 'Zlatan Ibrahimović - 30',goalkeeper = 'David Bingham')
Mvp(id =18,spectators = 25218,top_team_Scorer = 'Jeremy Ebobisse, Brian Fernández - 11',goalkeeper = 'Steve Clark')
Mvp(id =7,spectators = 14842,top_team_Scorer = 'Jesus Ferreira - 8',goalkeeper = 'Jesse Gonzalez')
Mvp(id =20,spectators = 18781,top_team_Scorer = 'Chris Wondolowski - 15',goalkeeper = 'Mario Daniel Vega')
Mvp(id =3,spectators = 14284,top_team_Scorer = 'Kei Kamara - 14',goalkeeper = 'Tim Howard')
Mvp(id =8,spectators = 15674,top_team_Scorer = 'Mauro Manotas - 13',goalkeeper = 'Joe Willis')
Mvp(id =22,spectators = 18601,top_team_Scorer = 'Felipe Gutiérrez - 12',goalkeeper = 'Tim Melia')
Mvp(id =24,spectators = 19514,top_team_Scorer = 'Fredy Montero - 8',goalkeeper = 'Maxime Crépeau')

In [27]:
for club in soccer_clubs.iterrows(): 
    teams = Teams(id=club[1][0], club_id=[1][0], club=club[1][1])
    print(teams)
    session.add(teams)

Teams(id =1,club_id = '1',club = 'Atlanta United')
Teams(id =2,club_id = '1',club = 'Chicago Fire')
Teams(id =3,club_id = '1',club = 'Colorado Rapids')
Teams(id =4,club_id = '1',club = 'Columbus Crew')
Teams(id =5,club_id = '1',club = 'DC United')
Teams(id =6,club_id = '1',club = 'FC Cincinnati')
Teams(id =7,club_id = '1',club = 'FC Dallas')
Teams(id =8,club_id = '1',club = 'Houston Dynamo')
Teams(id =9,club_id = '1',club = 'LA Galaxy')
Teams(id =10,club_id = '1',club = 'LAFC')
Teams(id =11,club_id = '1',club = 'Minnesota United')
Teams(id =12,club_id = '1',club = 'Montreal Impact')
Teams(id =13,club_id = '1',club = 'New England Revolution')
Teams(id =14,club_id = '1',club = 'New York City FC')
Teams(id =15,club_id = '1',club = 'New York Red Bulls')
Teams(id =16,club_id = '1',club = 'Orlando City SC')
Teams(id =17,club_id = '1',club = 'Philadelphia Union')
Teams(id =18,club_id = '1',club = 'Portland Timbers')
Teams(id =19,club_id = '1',club = 'Real Salt Lake')
Teams(id =20,club_id = '1',club = 'San Jose Earthquakes')
Teams(id =21,club_id = '1',club = 'Seattle Sounders FC')
Teams(id =22,club_id = '1',club = 'Sporting Kansas City')
Teams(id =23,club_id = '1',club = 'Toronto FC')
Teams(id =24,club_id = '1',club = 'Vancouver Whitecaps')

In [28]:
for row in df.iterrows():
    salaries = Salary(id= row[0], club_id=row[0],first=row[1][1],last=row[1][2],club=row[1][3],position=row[1][4],base_salary=row[1][5],guaranteed_compensation=row[1][6])
    print(salaries)
    session.add(salaries)

Salary(id =0,club_id=0,first = 'us USA',last = 'MF,FW',club = 'Philadelphia',position = '18.0',base_salary = 2000.0,guaranteed_compensation = 28.0)
Salary(id =1,club_id=1,first = 'us USA',last = 'DF',club = 'Seattle',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 18.0)
Salary(id =2,club_id=2,first = 'gh GHA',last = 'DF',club = 'Colorado',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 22.0)
Salary(id =3,club_id=3,first = 'gh GHA',last = 'DF',club = 'Columbus',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 1.0)
Salary(id =4,club_id=4,first = 'gh GHA',last = 'FW',club = 'Philadelphia',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 8.0)
Salary(id =5,club_id=5,first = 'gh GHA',last = 'FW,MF',club = 'Columbus',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 15.0)
Salary(id =6,club_id=6,first = 'hn HON',last = 'MF',club = 'FC Dallas',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 26.0)
Salary(id =7,club_id=7,first = 'us USA',last = 'DF',club = 'Orlando City',position = '21.0',base_salary = 1997.0,guaranteed_compensation = 8.0)
Salary(id =8,club_id=8,first = 'us USA',last = 'MF',club = 'Colorado',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 31.0)
Salary(id =9,club_id=9,first = 'ar ARG',last = 'MF,FW',club = 'D.C. United',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 31.0)
Salary(id =10,club_id=10,first = 'eng ENG',last = 'DF,MF',club = 'Atlanta',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 4.0)
Salary(id =11,club_id=11,first = 'eng ENG',last = 'MF',club = 'Chicago',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 10.0)
Salary(id =12,club_id=12,first = 'ng NGA',last = 'FW',club = 'FC Cincinnati',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 12.0)
Salary(id =13,club_id=13,first = 'iq IRQ',last = 'DF',club = 'Vancouver',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 28.0)
Salary(id =14,club_id=14,first = 'ch SUI',last = 'DF',club = 'San Jose',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 1.0)
Salary(id =15,club_id=15,first = 'gh GHA',last = 'DF',club = 'Columbus',position = '32.0',base_salary = 1986.0,guaranteed_compensation = 22.0)
Salary(id =16,club_id=16,first = 'us USA',last = 'MF,FW',club = 'New England',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 28.0)
Salary(id =17,club_id=17,first = 'ca CAN',last = 'FW',club = 'Orlando City',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 28.0)
Salary(id =18,club_id=18,first = 'us USA',last = 'FW,MF',club = 'Toronto FC',position = '19.0',base_salary = 2000.0,guaranteed_compensation = 8.0)
Salary(id =19,club_id=19,first = 'us USA',last = 'MF,DF',club = 'FC Cincinnati',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 11.0)
Salary(id =20,club_id=20,first = 'ps PLE',last = 'MF',club = 'FC Cincinnati',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 1.0)
Salary(id =21,club_id=21,first = 'fr FRA',last = 'FW',club = 'LA Galaxy',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 5.0)
Salary(id =22,club_id=22,first = 'us USA',last = 'MF,FW',club = 'FC Cincinnati',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 6.0)
Salary(id =23,club_id=23,first = 'cu CUB',last = 'MF',club = 'Minnesota',position = '33.0',base_salary = 1985.0,guaranteed_compensation = 27.0)
Salary(id =24,club_id=24,first = 'us USA',last = 'FW',club = 'Toronto FC',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 22.0)
Salary(id =25,club_id=25,first = 'Nation',last = 'Pos',club = 'Squad',position = 'nan',base_salary = nan,guaranteed_compensation = nan)
Salary(id =26,club_id=26,first = 'mx MEX',last = 'MF,FW',club = 'LA Galaxy',position = '16.0',base_salary = 2002.0,guaranteed_compensation = 14.0)
Salary(id =27,club_id=27,first = 'ar ARG',last = 'MF,FW',club = 'LA Galaxy',position = '26.0',base_salary = 1993.0,guaranteed_compensation = 18.0)
Salary(id =28,club_id=28,first = 'us USA',last = 'FW',club = 'D.C. United',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 23.0)
Salary(id =29,club_id=29,first = 'us USA',last = 'MF',club = 'FC Cincinnati',position = '18.0',base_salary = 2000.0,guaranteed_compensation = 19.0)
Salary(id =30,club_id=30,first = 'us USA',last = 'DF',club = 'Atlanta',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 4.0)
Salary(id =31,club_id=31,first = 'pa PAN',last = 'DF',club = 'NY Red Bulls',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 22.0)
Salary(id =32,club_id=32,first = 'us USA',last = 'DF,FW',club = 'Colorado',position = '16.0',base_salary = 2002.0,guaranteed_compensation = 6.0)
Salary(id =33,club_id=33,first = 'us USA',last = 'DF',club = 'New England',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 22.0)
Salary(id =34,club_id=34,first = 'mx MEX',last = 'FW,MF',club = 'LA Galaxy',position = '21.0',base_salary = 1997.0,guaranteed_compensation = 31.0)
Salary(id =35,club_id=35,first = 'cl CHI',last = 'MF,FW',club = 'FC Dallas',position = '21.0',base_salary = 1997.0,guaranteed_compensation = 11.0)
Salary(id =36,club_id=36,first = 'us USA',last = 'DF,FW',club = 'LA Galaxy',position = '17.0',base_salary = 2001.0,guaranteed_compensation = 18.0)
Salary(id =37,club_id=37,first = 'uy URU',last = 'FW',club = 'Vancouver',position = '20.0',base_salary = 1999.0,guaranteed_compensation = 16.0)
Salary(id =38,club_id=38,first = 'us USA',last = 'FW,MF',club = 'Columbus',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 21.0)
Salary(id =39,club_id=39,first = 'ec ECU',last = 'DF',club = 'Seattle',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 14.0)
Salary(id =40,club_id=40,first = 'us USA',last = 'DF,MF',club = 'Real Salt Lake',position = '18.0',base_salary = 2001.0,guaranteed_compensation = 2.0)
Salary(id =41,club_id=41,first = 'us USA',last = 'FW,MF',club = 'D.C. United',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 29.0)
Salary(id =42,club_id=42,first = 'br BRA',last = 'MF',club = 'Columbus',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 30.0)
Salary(id =43,club_id=43,first = 'pe PER',last = 'MF,DF',club = 'Orlando City',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 17.0)
Salary(id =44,club_id=44,first = 'co COL',last = 'FW,MF',club = 'Portland',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 13.0)
Salary(id =45,club_id=45,first = 'us USA',last = 'GK',club = 'Portland',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 10.0)
Salary(id =46,club_id=46,first = 'gh GHA',last = 'FW',club = 'FC Dallas',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 1.0)
Salary(id =47,club_id=47,first = 'co COL',last = 'MF',club = 'Los Angeles FC',position = '21.0',base_salary = 1997.0,guaranteed_compensation = 30.0)
Salary(id =48,club_id=48,first = 'br BRA',last = 'DF',club = 'Toronto FC',position = '23.0',base_salary = 1996.0,guaranteed_compensation = 23.0)
Salary(id =49,club_id=49,first = 'ug UGA',last = 'MF',club = 'Chicago',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 4.0)
Salary(id =50,club_id=50,first = 'ug UGA',last = 'MF',club = 'Montreal',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 19.0)
Salary(id =51,club_id=51,first = 'Nation',last = 'Pos',club = 'Squad',position = 'nan',base_salary = nan,guaranteed_compensation = nan)
Salary(id =52,club_id=52,first = 'sn SEN',last = 'FW',club = 'FC Dallas',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 28.0)
Salary(id =53,club_id=53,first = 'ca CAN',last = 'FW,MF',club = 'Vancouver',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 17.0)
Salary(id =54,club_id=54,first = 'us USA',last = 'FW,MF',club = 'Real Salt Lake',position = '23.0',base_salary = 1996.0,guaranteed_compensation = 31.0)
Salary(id =55,club_id=55,first = 'gn GUI',last = 'FW',club = 'Vancouver',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 17.0)
Salary(id =56,club_id=56,first = 'hu HUN',last = 'DF',club = 'Sporting KC',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 21.0)
Salary(id =57,club_id=57,first = 'ar ARG',last = 'FW,MF',club = 'Atlanta',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 15.0)
Salary(id =58,club_id=58,first = 'us USA',last = 'FW',club = 'NY Red Bulls',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 12.0)
Salary(id =59,club_id=59,first = 'co COL',last = 'FW',club = 'FC Dallas',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 32.0)
Salary(id =60,club_id=60,first = 'us USA',last = 'MF',club = 'Colorado',position = '17.0',base_salary = 2001.0,guaranteed_compensation = 20.0)
Salary(id =61,club_id=61,first = 'ca CAN',last = 'FW,MF',club = 'Montreal',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 11.0)
Salary(id =62,club_id=62,first = 'us USA',last = 'DF',club = 'Houston',position = '36.0',base_salary = 1982.0,guaranteed_compensation = 12.0)
Salary(id =63,club_id=63,first = 'us USA',last = 'MF',club = 'Real Salt Lake',position = '36.0',base_salary = 1982.0,guaranteed_compensation = 25.0)
Salary(id =64,club_id=64,first = 'us USA',last = 'MF',club = 'Philadelphia',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 32.0)
Salary(id =65,club_id=65,first = 'co COL',last = 'FW',club = 'NYCFC',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 1.0)
Salary(id =66,club_id=66,first = 'ir IRN',last = 'DF',club = 'Los Angeles FC',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 25.0)
Salary(id =67,club_id=67,first = 'us USA',last = 'GK',club = 'Columbus',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 6.0)
Salary(id =68,club_id=68,first = 'fr FRA',last = 'FW,MF',club = 'Toronto FC',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 8.0)
Salary(id =69,club_id=69,first = 'ch SUI',last = 'MF',club = 'FC Cincinnati',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 25.0)
Salary(id =70,club_id=70,first = 'us USA',last = 'DF',club = 'Sporting KC',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 27.0)
Salary(id =71,club_id=71,first = 'us USA',last = 'MF',club = 'Real Salt Lake',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 17.0)
Salary(id =72,club_id=72,first = 'fr FRA',last = 'MF',club = 'NY Red Bulls',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 8.0)
Salary(id =73,club_id=73,first = 'us USA',last = 'GK',club = 'LA Galaxy',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 33.0)
Salary(id =74,club_id=74,first = 'us USA',last = 'DF',club = 'D.C. United',position = '28.0',base_salary = 1991.0,guaranteed_compensation = 34.0)
Salary(id =75,club_id=75,first = 'cl CHI',last = 'DF',club = 'Houston',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 5.0)
Salary(id =76,club_id=76,first = 'us USA',last = 'DF',club = 'Los Angeles FC',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 18.0)
Salary(id =77,club_id=77,first = 'Nation',last = 'Pos',club = 'Squad',position = 'nan',base_salary = nan,guaranteed_compensation = nan)
Salary(id =78,club_id=78,first = 'jm JAM',last = 'GK',club = 'Philadelphia',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 26.0)
Salary(id =79,club_id=79,first = 'ar ARG',last = 'FW,MF',club = 'Portland',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 30.0)
Salary(id =80,club_id=80,first = 'gh GHA',last = 'MF',club = 'Los Angeles FC',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 34.0)
Salary(id =81,club_id=81,first = 'se SWE',last = 'MF,FW',club = 'Colorado',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 3.0)
Salary(id =82,club_id=82,first = 'gh GHA',last = 'FW,MF',club = 'LA Galaxy',position = '25.0',base_salary = 1994.0,guaranteed_compensation = 21.0)
Salary(id =83,club_id=83,first = 'gh GHA',last = 'FW,MF',club = 'D.C. United',position = '25.0',base_salary = 1994.0,guaranteed_compensation = 3.0)
Salary(id =84,club_id=84,first = 'us USA',last = 'MF,FW',club = 'FC Cincinnati',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 6.0)
Salary(id =85,club_id=85,first = 'us USA',last = 'GK',club = 'Toronto FC',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 7.0)
Salary(id =86,club_id=86,first = 'us USA',last = 'DF',club = 'Chicago',position = '34.0',base_salary = 1984.0,guaranteed_compensation = 11.0)
Salary(id =87,club_id=87,first = 'ar ARG',last = 'FW,MF',club = 'New England',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 14.0)
Salary(id =88,club_id=88,first = 'nz NZL',last = 'DF',club = 'Minnesota',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 29.0)
Salary(id =89,club_id=89,first = 'us USA',last = 'FW,MF',club = 'Toronto FC',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 11.0)
Salary(id =90,club_id=90,first = 'us USA',last = 'MF',club = 'Toronto FC',position = '31.0',base_salary = 1987.0,guaranteed_compensation = 27.0)
Salary(id =91,club_id=91,first = 'ca CAN',last = 'DF',club = 'Montreal',position = '20.0',base_salary = 1998.0,guaranteed_compensation = 13.0)
Salary(id =92,club_id=92,first = 'br BRA',last = 'DF',club = 'FC Dallas',position = '26.0',base_salary = 1993.0,guaranteed_compensation = 18.0)
Salary(id =93,club_id=93,first = 'us USA',last = 'DF',club = 'Los Angeles FC',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 1.0)
Salary(id =94,club_id=94,first = 'fr FRA',last = 'DF',club = 'D.C. United',position = '33.0',base_salary = 1985.0,guaranteed_compensation = 34.0)
Salary(id =95,club_id=95,first = 'us USA',last = 'MF,DF',club = 'Chicago',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 29.0)
Salary(id =96,club_id=96,first = 'pa PAN',last = 'FW,MF',club = 'Montreal',position = '24.0',base_salary = 1994.0,guaranteed_compensation = 10.0)
Salary(id =97,club_id=97,first = 'us USA',last = 'FW',club = 'Seattle',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 9.0)
Salary(id =98,club_id=98,first = 'ca CAN',last = 'MF',club = 'New England',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 10.0)
Salary(id =99,club_id=99,first = 'us USA',last = 'DF',club = 'NY Red Bulls',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 6.0)
Salary(id =100,club_id=100,first = 'us USA',last = 'FW,MF',club = 'New England',position = '28.0',base_salary = 1990.0,guaranteed_compensation = 32.0)
Salary(id =101,club_id=101,first = 'jm JAM',last = 'FW',club = 'Philadelphia',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 7.0)
Salary(id =102,club_id=102,first = 'us USA',last = 'GK',club = 'Montreal',position = '32.0',base_salary = 1986.0,guaranteed_compensation = 32.0)
Salary(id =103,club_id=103,first = 'Nation',last = 'Pos',club = 'Squad',position = 'nan',base_salary = nan,guaranteed_compensation = nan)
Salary(id =104,club_id=104,first = 'us USA',last = 'MF',club = 'Sporting KC',position = '16.0',base_salary = 2002.0,guaranteed_compensation = 22.0)
Salary(id =105,club_id=105,first = 'ae UAE',last = 'FW',club = 'Seattle',position = '21.0',base_salary = 1997.0,guaranteed_compensation = 15.0)
Salary(id =106,club_id=106,first = 'us USA',last = 'DF',club = 'New England',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 30.0)
Salary(id =107,club_id=107,first = 'ar ARG',last = 'DF',club = 'Montreal',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 16.0)
Salary(id =108,club_id=108,first = 'co COL',last = 'MF',club = 'New England',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 31.0)
Salary(id =109,club_id=109,first = 'us USA',last = 'MF',club = 'New England',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 20.0)
Salary(id =110,club_id=110,first = 'pe PER',last = 'DF',club = 'NYCFC',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 24.0)
Salary(id =111,club_id=111,first = 'us USA',last = 'MF,DF',club = 'San Jose',position = '21.0',base_salary = 1998.0,guaranteed_compensation = 2.0)
Salary(id =112,club_id=112,first = 'cr CRC',last = 'DF',club = 'Chicago',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 23.0)
Salary(id =113,club_id=113,first = 'cr CRC',last = 'DF',club = 'Minnesota',position = '26.0',base_salary = 1992.0,guaranteed_compensation = 7.0)
Salary(id =114,club_id=114,first = 'fr FRA',last = 'DF',club = 'Montreal',position = '27.0',base_salary = 1991.0,guaranteed_compensation = 17.0)
Salary(id =115,club_id=115,first = 'us USA',last = 'DF',club = 'Seattle',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 4.0)
Salary(id =116,club_id=116,first = 'cr CRC',last = 'DF',club = 'Chicago',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 10.0)
Salary(id =117,club_id=117,first = 'us USA',last = 'DF',club = 'FC Dallas',position = '20.0',base_salary = 1998.0,guaranteed_compensation = 28.0)
Salary(id =118,club_id=118,first = 'us USA',last = 'MF,DF',club = 'D.C. United',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 26.0)
Salary(id =119,club_id=119,first = 'us USA',last = 'MF,FW',club = 'Atlanta',position = '18.0',base_salary = 2000.0,guaranteed_compensation = 3.0)
Salary(id =120,club_id=120,first = 'us USA',last = 'MF',club = 'LA Galaxy',position = '30.0',base_salary = 1988.0,guaranteed_compensation = 16.0)
Salary(id =121,club_id=121,first = 'cr CRC',last = 'DF',club = 'Portland',position = '25.0',base_salary = 1993.0,guaranteed_compensation = 22.0)
Salary(id =122,club_id=122,first = 've VEN',last = 'MF',club = 'NY Red Bulls',position = '19.0',base_salary = 2000.0,guaranteed_compensation = 23.0)
Salary(id =123,club_id=123,first = 'ar ARG',last = 'FW',club = 'NYCFC',position = '20.0',base_salary = 1998.0,guaranteed_compensation = 30.0)
Salary(id =124,club_id=124,first = 'us USA',last = 'DF',club = 'New England',position = '32.0',base_salary = 1986.0,guaranteed_compensation = 20.0)
Salary(id =125,club_id=125,first = 'ar ARG',last = 'MF',club = 'Seattle',position = '22.0',base_salary = 1996.0,guaranteed_compensation = 4.0)
Salary(id =126,club_id=126,first = 'sv SLV',last = 'MF',club = 'Houston',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 13.0)
Salary(id =127,club_id=127,first = 'us USA',last = 'MF',club = 'FC Dallas',position = '18.0',base_salary = 2000.0,guaranteed_compensation = 12.0)
Salary(id =128,club_id=128,first = 'uy URU',last = 'FW',club = 'Minnesota',position = '18.0',base_salary = 2000.0,guaranteed_compensation = 2.0)
Salary(id =129,club_id=129,first = 'Nation',last = 'Pos',club = 'Squad',position = 'nan',base_salary = nan,guaranteed_compensation = nan)
Salary(id =130,club_id=130,first = 'lu LUX',last = 'DF',club = 'NYCFC',position = '29.0',base_salary = 1989.0,guaranteed_compensation = 31.0)
Salary(id =131,club_id=131,first = 'ca CAN',last = 'MF,FW',club = 'Toronto FC',position = '25.0',base_salary = 1994.0,guaranteed_compensation = 17.0)
Salary(id =132,club_id=132,first = 'co COL',last = 'MF',club = 'Portland',position = '32.0',base_salary = 1986.0,guaranteed_compensation = 30.0)
Salary(id =133,club_id=133,first = 'hn HON',last = 'MF,FW',club = 'Vancouver',position = '23.0',base_salary = 1995.0,guaranteed_compensation = 7.0)
Salary(id =134,club_id=134,first = 'ca CAN',last = 'FW,MF',club = 'Montreal',position = '19.0',base_salary = 1999.0,guaranteed_compensation = 17.0)
Salary(id =135,club_id=135,first = 'be BEL',last = 'DF',club = 'Toronto FC',position = '33.0',base_salary = 1985.0,guaranteed_compensation = 17.0)
Salary(id =136,club_id=136,first = 'us USA',last = 'MF',club = 'Columbus',position = '35.0',base_salary = 1983.0,guaranteed_compensation = 7.0)

In [29]:
# Commit all of the tables at once then close: 
session.commit()